:root {
  --branding-color: #7a6044;
  --secondary-color: #f0ece2;
  --heading-font-family: "Playfair Display", serif;
  --dafault-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--dafault-font-family);
}
.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 26px;
}
nav a:hover,
nav li .active {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: normal;
}
h1 {
  font-size: 85px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
.look-projects {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--dafault-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 0 20px;
}

.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: bold;
}
.content h2 {
  font-size: 18px;
  font-family: var(--dafault-font-family);
  font-weight: bold;
}
.content {
  margin: 30px;
  text-align: center;
  padding: 0;
}
.content h3 {
  font-weight: bold;
  font-family: var(--dafault-font-family);
}
.hero-photo {
  max-width: 350px;
  border-radius: 10px;
}

.email {
  color: var(--branding-color);
}
footer {
  margin: 80px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
/* .image-frame {
  border-radius: 4px;
  background: var(--secondary-color);
  padding: 50px 10px;
} */

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }
  h2 {
    font-size: 38px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    padding: 0;
    text-align: center;
  }
  .content h1 {
    font-size: 26px;
    margin-top: 100px;
  }
  .hero-photo {
    margin: 50px 0;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 30px;
    line-height: 2;
  }
  h2 {
    font-size: 38px;
  }
  .hero p {
    font-size: 26px;
    margin: 0;
  }
  .hero h2 {
    font-size: 17px;
  }
  .look-projects {
    font-size: 16px;
    line-height: 1.3;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
